version: "3.7"
services:
  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"
  api:
    build: .
    restart: unless-stopped
    environment:
      PASTEBNN_API_HOST: "0.0.0.0"
      PASTEBNN_API_PORT: 8080
      PASTEBNN_LOG_LEVEL: "debug"
      PASTEBNN_MAX_SIZE_BYTES: 104857600 # 100MB
      PASTEBNN_STORAGE_BACKEND: "redis"
      PASTEBNN_REDIS_HOST: "redis"
      PASTEBNN_REDIS_PORT: 6379
    ports:
      - 8080:8080
    depends_on:
      - "redis"
  ui:
    build: ./web
    restart: unless-stopped
    environment:
      PASTEBNN_APP_NAME: "pastebnn.com"
      PASTEBNN_API_PORT: "8080"
    ports:
      - 3000:3000
    depends_on:
      - "api"
